/* FILEPATH: /c:/Repos/SpaceJockey/Red Scare Website/red-scare-website/styles.css */

/* Navbar */

@font-face {
    font-family: 'Viva';
    src: url('/assets/fonts/ViveLaRivoluzione.ttf');
}

.navbar-logo {
    height: 100px;
    max-height: 100%;
    max-width: 100%;
}

.social-media-links a {
    color: #000; /* Set icon color */
}

.social-media-links a:hover {
    color: #f00; /* Set icon color on hover */
}

.social-media-links i {
    font-size: 24px; /* Set icon size */
}

.social-media-links ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}
.social-media-links li {
    display: inline; /* Display links in a line */
    margin-right: 10px; /* Add some space between the links */
}
.band-tile {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.band-info {
    padding-left: 10%; /* Adjust as needed */
    padding-right: 20%;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#band-socials i {
    font-size: 30px; /* Adjust as needed */
    color: #333; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
}
#band-socials i:hover {
    color: #f00; /* Adjust as needed */
}   
.album-cover {
    width: 100%;
    height: auto;
}
.col-md-3 {
    transition: transform 0.3s ease-in-out;
}

.col-md-3:hover {
    transform: scale(1.05);
}
.album-cover-info {
    width: 300px;
    height: auto;
}
/* Streaming icons on release-info*/
.fab {
    font-size: 3em; /* Adjust as needed */
    margin: 0 10px; /* Adjust as needed */
    color: black;
}
.fab:hover {
    color: #f00; /* Replace with your desired hover color */
}

